body{
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    
}

/*Header Styling*/
img{
    width: 200px;
    height: auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 24px;
    color: #E5E7EB;
    padding: 8px;
    margin-top: 10px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 8px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 8px;
}

/*Hero Content*/
.hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #E5E7EB;
    padding: 8px;
}

.hero-text{
    width: 400px;
}

.hero-text h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.hero button{
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    width: 100px;

}

.img-container{
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}