*{
    font-family: 'Roboto',sans-serif;
    background-color: #1F2937;
    margin-left: 20px;
    margin-right: 20px;
}

/*Header Styling*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header-link a{
    color: #E5E7EB;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-weight: 300;
}

/**/